/*body {
  background-color: lightblue;
} 
h3 {
    color: rgb(18, 20, 19);
    padding: 40px;
    text-align: center;
  }
input[type=number] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  */

body {
  text-align: center;
  background-image: url("../images/stock_bg.jpg");
  background-size: 100% 250%;
}

form {
  display: inline-block;
}

.mask {
  background-color: rgba(0, 0, 0, 0.6);
}

.para {
  font-size: 30px;
  color: #fcfafa;
  position: relative;
  left: 20px;
  top: 20px;
}

.button {
  font-size: 25px;
  color: white;
  position: relative;
}

.button-group1 {
  position: absolute;
  left: 400px;
  top: 400px;
}

.button-group2 {
  position: absolute;
  right: 400px;
  top: 400px;
}
