<!DOCTYPE html>
<html lang="en">

<head>
  <title>Stock News Alert</title>
  <link rel="stylesheet" href="../static/home.css">
</head>

<body>

  <h1>Please Enter your Phone no and the TICKER symbol of your required Stock:</h1>
  <div>
    ​<form action="/action_page.php">
      <label for="pnumber">Phone Number</label>
      <input type="text" id="pnumber" name="phonenumber" placeholder="Your Phone number..">

      <label for="ticker">TICKER</label>
      <input type="text" id="ticker" name="ticker" placeholder="Your fav TICKER..">

      <input type="submit" value="Submit">
    </form>


    <footer class="container-fluid">
      <p>All Rights Reserved</p>
    </footer>
  </div>
</body>

</html>