<!DOCTYPE html>
<html lang="en">

<head>
    <title>Stock News Alert</title>
    <link rel="stylesheet" href="../static/login.css">
</head>

<body>
    <center>
        <h1>Log In</h1>


        <div>
            <form>
                <!-- Email:<br> -->
                <input type="email" id="mail" name="email" placeholder="yours@mail.com"><br>

                <!-- Password:<br> -->
                <input type="password" id="pword" name="password" placeholder="Enter password"><br>

                <input type="submit" value="Submit">
            </form>
        </div>
    </center>
</body>

</html>