<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/test.css">

    <title>Stock News Alert</title>
</head>

<body>
    <header>
        <!-- Background image -->
        <div class="p-5 text-center bg-image">
            <div class="mask">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white">
                        <h1 class="mb-3">Stock Market Khabar</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- Background image -->
    </header>
    <div class="para">
        <p>Make a value investment today.</p>
    </div>

    <div class="para" style="top: 10px" ;>Get real time notification on your selected device when your selected
        stocks have siginificant price
        movement.
    </div>

    <div class="button-group1">
        <div>
            <button type="button" class="btn btn-primary button">
                <p>Already a User</p>
                <p>Log in</p>
            </button>
        </div>
    </div>

    <div class="button-group2">
        <button type="button" class="btn btn-primary button">
            <p>New User</p>
            <p>Register Here</p>
        </button>

    </div>

</body>

</html>